<div class="chat-rooms" *ngIf="chats; else noChatsPlaceholder">
  <div class="rooms-search">
    <input type="text" [placeholder]="'chat.search-user' | translate" [(ngModel)]="chatRoomsSearchInput" />
    <button type="button" class="search-settings" [title]="'chat.settings' | translate">
      <img [src]="chatIcons.settings" [alt]="'chat.settings' | translate" />
    </button>
  </div>

  <div class="chats" #chatsWrapper>
    <div class="separate-chat" *ngFor="let chat of chats | chatsSearch: chatRoomsSearchInput" (click)="openNewMsgWindow(chat)">
      <img class="chat-logo" [src]="chat.logo || chatIcons.userLogo" [alt]="'chat.user-logo' | translate" />
      <div class="chat-text">
        <span class="chat-title">{{ chat.name }}</span>

        <div class="chat-text-last-message">
          <span class="chat-last-message">
            <span class="last-message-sender"> {{ chat | chatLastSenderMessage }}</span
            >{{ chat.lastMessage.content | chatLastMsg }}
          </span>
          <span class="chat-title-dot"></span>
          <span class="chat-title-time">
            {{ messageDateTreatment(chat.lastMessage.date) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noChatsPlaceholder>
  <div class="chat-rooms">
    <div class="search-friends">
      <img class="search-friends-img" [src]="chatIcons.friends" [alt]="'chat.friends' | translate" />
      <p class="search-friends-text">{{ 'chat.search-friends-text' | translate }}</p>
      <button class="search-for-friends">{{ 'chat.search-friends-button' | translate }}</button>
    </div>
  </div>
</ng-template>
