@import '../chat-popup/chat-popup.component';

.chat-rooms {
  height: 705px;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
}

.rooms-search {
  position: relative;
  padding: 10px;
  @include flex-options(row, space-between, center);
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  column-gap: 15px;

  input {
    background: #f2f2f2;
    font-size: 15px;
    width: 90%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    padding: 3px 8px;
    transition: all 0.1s linear;
    border-radius: 3px;

    &:focus {
      background: var(--white);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.67);
    }
  }
}

.search-settings {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 28px;
  @include flex-options(row, center, center);

  img {
    height: 18px;
  }

  &:hover {
    background: var(--quaternary-light-grey);
  }
}

.chats {
  @include flex-options(column, flex-start, flex-start);
  width: 100%;
  height: 656px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    background: var(--primary-light-grey);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-dark);
    border-radius: 3px;
  }
}

.separate-chat {
  @include flex-options(row, flex-start, center);
  column-gap: 10px;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  &:hover {
    background: var(--pre-secondary-light-grey);
  }
}

.chat-logo {
  height: 40px;
}

.chat-text {
  @include flex-options(column, center, flex-start);
  width: 100%;
}

.chat-text-last-message {
  @include flex-options(row, space-between, center);
  column-gap: 10px;
}

.chat-title {
  color: var(--primary-dark-grey);
  font-size: 15px;
  font-weight: 500;
}

.chat-title-time {
  font-size: 12px;
  color: #676767;
}

.chat-title-dot {
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background: var(--primary-dark-grey);
}

.chat-last-message {
  font-size: 14px;
  color: #676767;
  white-space: nowrap;
}

.last-message-sender {
  font-weight: 500;
  color: #698af3;
}

.search-friends {
  width: 100%;
  height: 100%;
  @include flex-options(column, center, center);
  padding: 0 10px;
  text-align: center;
}

.search-friends-img {
  width: 70px;
}

.search-for-friends {
  color: #698af3;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
