<form class="message" [formGroup]="messageForm" [ngClass]="inModal ? 'in-modal' : 'in-new-message'" (ngSubmit)="sendMessage()">
  <button type="button" class="add-file-button" [title]="'chat.smile' | translate">
    <img [src]="chatIcons.smile" [alt]="'chat.smile' | translate" />
  </button>

  <textarea
    type="text"
    [placeholder]="'chat.type-message' | translate"
    formControlName="message"
    maxlength="255"
    *ngIf="!inModal; else msgInputInModal"
  ></textarea>

  <ng-template #msgInputInModal>
    <input maxlength="255" type="text" [placeholder]="'chat.type-message' | translate" formControlName="message" />
  </ng-template>

  <button
    type="button"
    class="add-file-button"
    [title]="'chat.add-file' | translate"
    *ngIf="!messageForm.get('message').value || !inModal; else sendButton"
  >
    <img [src]="chatIcons.paperClip" [alt]="'chat.add-file' | translate" />
  </button>
  <!-- TODO: refactor code for new message window -->
  <ng-template #sendButton>
    <button type="submit" class="send-button" [title]="'chat.send' | translate">
      {{ 'chat.send' | translate }}
    </button>
  </ng-template>
</form>
