@import '../chat-popup/chat-popup.component';

.message {
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);

  textarea {
    padding: 0;
    height: 150px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;

    &.smallMessageArea {
      height: 50px;
    }
  }
}

.msg-footer {
  padding: 5px 10px;
  background: var(--primary-dark-grey);
  @include flex-options(row, space-between, center);
}

.clip-button {
  border-radius: 50%;
  background: var(--white);
  padding: 3px;
  height: 21px;
  width: 21px;
  @include flex-options(row, center, center);

  img {
    height: 15px;
  }
}

.send-button {
  font-size: 14px;
  background: var(--white);
  border-radius: 15px;
  padding: 0 5px;
}
