<form class="send-form" [formGroup]="messageForm">
  <textarea
    class="message-textarea"
    *ngIf="!inModal"
    formControlName="message"
    [placeholder]="'chat.type-message' | translate"
    maxlength="255"
  ></textarea>

  <div class="addition-buttons">
    <button type="button" class="add-file" [title]="'chat.add-file' | translate">
      <img [src]="chatIcons.paperClip" [alt]="'chat.add-file' | translate" />
      <label for="file-input"></label>
      <input id="file-input" type="file" (change)="addFile($event)" formControlName="file" />
    </button>

    <input
      type="text"
      *ngIf="inModal"
      class="message-input"
      formControlName="message"
      [placeholder]="'chat.type-message' | translate"
      maxlength="255"
    />

    <div class="right-side-buttons">
      <button type="button" class="smiles" [title]="'chat.smile' | translate">
        <img [src]="chatIcons.smile" [alt]="'chat.smile' | translate" />
      </button>

      <div class="voice-or-send-button">
        <button
          type="button"
          class="voice"
          [ngClass]="{ active: !messageForm.get('message').value && !messageForm.get('file').value }"
          [title]="'chat.voice' | translate"
        >
          <img [src]="chatIcons.voice" [alt]="'chat.voice' | translate" />
        </button>

        <button
          type="submit"
          class="send-button"
          [ngClass]="{ active: messageForm.get('message').value || messageForm.get('file').value }"
          [title]="'chat.send' | translate"
        >
          <img [src]="chatIcons.send" [alt]="'chat.send' | translate" />
        </button>
      </div>
    </div>
  </div>
</form>
