<form class="message" [formGroup]="messageForm" [ngClass]="inModal ? 'in-modal' : 'in-new-message'" (ngSubmit)="sendMessage()">
  <button type="button" class="smiles" [title]="'chat.smile' | translate">
    <img [src]="chatIcons.smile" [alt]="'chat.smile' | translate" />
  </button>

  <button type="button" class="add-file-button" [title]="'chat.add-file' | translate">
    <img [src]="chatIcons.paperClip" [alt]="'chat.add-file' | translate" />
  </button>

  <textarea
    type="text"
    [placeholder]="'chat.type-message' | translate"
    formControlName="message"
    maxlength="255"
    *ngIf="!inModal; else msgInputInModal"
  ></textarea>

  <ng-template #msgInputInModal>
    <input maxlength="255" type="text" [placeholder]="'chat.type-message' | translate" formControlName="message" />
  </ng-template>

  <button type="submit" class="send-button" [title]="'chat.send' | translate" [ngClass]="{ visible: messageForm.get('message').valid }">
    {{ 'chat.send' | translate }}
  </button>
</form>
