<div class="current-chat">
  <div class="current-chat-title" *ngIf="currentChat">
    <span class="current-chat-name">
      {{ currentChat.name }}
    </span>
    <span class="dot"></span>
    <span class="current-chat-participants">{{ 'chat.participants' | translate }} : {{ currentChat.participants.length }}</span>
  </div>

  <div class="chat" *ngIf="currentChat; else emptyChatPlaceholder">
    <div class="current-chat-block" *ngIf="!chatMessagesService.messagesOnLoad; else spinner" #chatElement>
      <div class="message-day" *ngFor="let dayMessages of allChatMessages | messagesSortByDay">
        <div class="day-title">
          <span>{{ dayMessages.date }}</span>
        </div>

        <div
          class="message"
          *ngFor="let message of dayMessages.messages"
          [ngClass]="{ own: chatMessagesService.isOwnMessage(message.sender.id) }"
        >
          <img
            class="sender-logo"
            [src]="currentChat.logo || chatIcons.userLogo"
            [alt]="'chat.user-logo' | translate"
            [title]="message.sender.firstName"
          />
          <!-- TODO: create function to get logo of user if chat is type of group -->
          <div class="text-block">
            <span class="message-content">
              {{ message.content }}
            </span>
          </div>
          <div class="send-date">
            <span>{{ message.date | date: 'hh:mm' }}</span>
          </div>
        </div>
      </div>
    </div>

    <app-message-sender [inModal]="true"></app-message-sender>
  </div>

  <ng-template #emptyChatPlaceholder>
    <div class="current-chat-title">
      <span class="current-chat-name">
        {{ 'chat.choose-chat' | translate }}
      </span>
    </div>
    <div class="green-planet-wrapper">
      <img [src]="chatIcons.greenPlanet" [alt]="'chat.green-planet' | translate" />
    </div>
  </ng-template>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <app-spinner></app-spinner>
  </div>
</ng-template>
